@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Unbounded:wght@400;500;600;700;800&display=swap');

@import "./preloader";
 
/*============================== Variables =========================*/
:root {
    --brand: #ff214f;  
    --black: #333;
    --dark: #000000;
    --grey: #868584; 
    --white: #ffffff;
    --light: #fefefe;
    --heading-color: #000000;
    --border-color: #707070;
    --border-radius: 10px;
    --body-text-color: #000000;  
    --body-font: 'Montserrat', sans-serif;
    --unbounded: 'Unbounded', cursive;
} 
 
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
 
body {
    background-color: #FEFEFE;
    text-rendering: optimizeLegibility; 
    font-family: var(--body-font); 
    line-height: 1.7; 
    font-size: 1.125rem;
    color: var(--body-text-color);
    font-weight: 500; 
    font-style: normal;
}
.container-fluid { max-width: calc(100% - 150px);margin-left: auto;margin-right: auto; 
    &.full-width { max-width: 100%; }
     
}
.h1 { 
    font-size: 3.5rem;line-height: 1.2;font-weight: 700; 
}
h2, .h2 {
    font-size: 2.5rem;color: var(--heading-color); 
    font-weight: 700;
}

h3, .h3 {
    font-size: 2rem;font-weight: 400;color: var(--heading-color); 
}

h4, .h4 {
    font-size: 1.625rem; 
    font-weight: 400; 
    color: var(--heading-color); 
}

h5, .h5 {
    font-size: 1.375rem;font-weight: 300;
}

h6, .h6 {
    font-size: 1.125rem;font-weight: 300;
} 
.lead-sm { font-size: 1.125rem; } 
 
.figure {
    margin: 0;
}
 
.ptb {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
 
.text-yellow { color: var(--yellow); }
.ff-unbounded { font-family: var(--unbounded); }
.bg-light { background-color: #F5F5F5 !important; }
.bg-gradient { background-color: rgba(0, 148, 217, 0.04) !important; }
.bg-primary { background-color: var(--brand) !important; }
.text-primary { color: var(--brand) !important; }
.text-blue { color: var(--blue) !important; }
.text-dark { color: var(--dark) !important; }
.text-light { color: var(--light) !important; }
.bg_shadow { box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.62); }
.fw-medium { font-weight: 500 !important; }  
.fw-semibold { font-weight: 600 !important; }
.text-justify { text-align: justify; }
.round { border-radius: .875rem; }
.z-index { position: relative;z-index: 99; }
.fs-15 { font-size: .937rem; }
.fs-13 { font-size: 13px; }
.fs-12 { font-size: 12px; } 
.bordered { border: 1px solid #707070; }
.ellipsis-2 { overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 2;display: -webkit-box;-webkit-box-orient: vertical;white-space: normal; }
.bgi { background-repeat: no-repeat;background-size: cover;background-position: center center; }
 
.transition { transition: all .3s ease-in-out; }

a {
    text-decoration: none;display: inline-block;transition: all .3s ease-in-out;color: var(--dark);

    &:hover { color: var(--brand); }
}

.link {
    color: var(--dark);
    font-weight: 600;
    &:hover { text-decoration: underline; }
} 

ul {
    padding-left: 0;
    margin-bottom: 0;
    li {
        list-style-type: none;
    }
}
 

.btn:focus, .form-control:focus, .form-select:focus, .form-check-input:focus {
    box-shadow: none;
}
 

.btn{ 
    border-radius: .25rem;text-transform: uppercase;
    font-size: 1.125rem;font-weight: 500; 
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;border-radius: 0%;
    align-items: center; 
    transition: all .4s ease-in-out;
    
    &:hover { 
        border-color: var(--brand);
        background-color: var(--brand);
        filter: brightness(125%);
    }
 
    &.btn-lg {
        font-size: 1.5rem;padding: 0.55rem 1.5rem 0.65rem 1.5rem;  
    }
} 

.btn-white {
    background-color: #fff;
    border-color: #fff;
    color: var(--dark);
    &:hover {
        background-color: var(--brand);
        border-color: var(--brand)
    }
}

.btn-primary {
    background-color: var(--brand);
    border-color: var(--brand);
    color: var(--white);
}

.btn-outline-white {
    border-color: var(--white);color: var(--white);
 
    &:hover, &:focus, &:active {
        background-color: var(--white);color: var(--dark);border-color: var(--white); 
    }
}
.btn-outline-dark {
    border-color: var(--dark);color: var(--dark);border-width: 2px;

    &:hover, &:focus, &:active {
        background-color: var(--dark);color: var(--white);border-color: var(--dark); 
    }
}

.btn-dark {
    background-color: var(--dark);
    background-color: var(--dark);
    color: var(--white);
    border-width: 2px;  

    &:hover, &:focus, &:active {
        background-color: var(--white);border-color: var(--dark);
        color: var(--dark); 
    }
}
  

.col--5 { flex: 0 0 20%;max-width: 20%; }

.modal-open {
    padding-right: 0 !important;
}
.modal { background: #000000ba; }
 

// Mobile Call Buttons Styles
.mobile__actions {
    position: fixed;
    bottom: 0rem;
    left: .5rem;
    z-index: 999;

    .action-btn {
        box-shadow: 0 0 0 #0568A8;
        animation: pulse 1.5s infinite;
        display: block;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        padding: 0;
        margin-bottom: 1rem;
        img {
            width: 3rem;
            height: 3rem;
        }
    
        &.call { 
            animation: pulse 1.75s infinite;
        }
        @-webkit-keyframes pulse {
            0% {
              -webkit-box-shadow: 0 0 0 0 #0568A8;
            }
            70% {
                -webkit-box-shadow: 0 0 0 1.25rem #0567a800;
            }
            100% {
                -webkit-box-shadow: 0 0 0 0 #0567a800;
            }
        }
        @keyframes pulse {
            0% {
              -moz-box-shadow: 0 0 0 0 #0568A8;
              box-shadow: 0 0 0 0 #0568A8;
            }
            70% {
                -moz-box-shadow: 0 0 0 1.25rem #0567a800;
                box-shadow: 0 0 0 1.25rem #0567a800;
            }
            100% {
                -moz-box-shadow: 0 0 0 0 #0567a800;
                box-shadow: 0 0 0 0 #0567a800;
            }
        }
    }
}

.pagination {
    .page-item {
        margin: .2rem;

        .page-link {
            border: 1px solid #E5E5E5; 
            font-weight: 600;
            color: var(--body-text-color);
            border-radius: 0%;
            line-height: 1;
            padding: .75rem .75rem;
            min-width: 2.5rem;
            text-align: center;

            img {
                width: 1.125rem;
            }

            &.active {
                background-color: var(--brand);color: var(--white);
                border-color: var(--brand);
            }
        }
    }
}


 

@media (min-width: 1400px) {
    .container-fluid.start { max-width: calc(100% - 120px);margin-left: 0;padding-left: 0; }
}
@media (min-width: 1200px) {
    .container-fluid.start { max-width: calc(100% - 90px);margin-left: 0;padding-left: 0; }
}
@media (min-width: 992px) {
    .container-fluid.start { max-width: calc(100% - 60px);margin-left: 0;padding-left: 0; }
}

@media (max-width: 1400px) {
    .container-fluid { max-width: calc(100% - 120px); }
    body { font-size: 1rem; }
}

@media (max-width: 1300px) {
    .h1 { font-size: 3.25rem; }
}

@media (max-width: 1199px) { 
    .container-fluid { max-width: calc(100% - 90px); }
    .h1 { font-size: 2.5rem; }
    h2, .h2 { font-size: 2rem; } 
    h3, .h3 { font-size: 1.75rem; } 
    h4, .h4 { font-size: 1.5rem; }
    h5, .h5 { font-size: 1.35rem; } 
    .ptb { padding-top: 4rem; padding-bottom: 4rem; }   
}

@media (max-width: 991px) { 
    html { font-size: 93.75%; }  
    .h1 { font-size: 2rem; }
    h2, .h2 { font-size: 1.75rem; } 
    h3, .h3 { font-size: 1.5rem; } 
    h4, .h4 { font-size: 1.35rem; }  
    .ptb { padding-top: 3rem; padding-bottom: 3rem; } 
    .btn { font-size: 1rem;padding: 0.5rem 1.25rem 0.65rem 1.25rem; 
        .arrow { position: relative;top: 1px; }
    }
    .container-fluid { max-width: calc(100% - 60px); }
 
}

@media (max-width: 767px) { 
    html { font-size: 87.5%; } 
    .h1 { font-size: 2rem; }
    h2, .h2 { font-size: 1.5rem; } 
    h3, .h3 { font-size: 1.35rem; } 
    h4, .h4 { font-size: 1.25rem; }  
    .container-fluid { max-width: calc(100% - 40px);  }
}

@media (max-width: 575px) {
    .top__title { font-size: .937rem; 
        &::before { height: 2px;top: 6px;  }
    }
    .max-100 { max-width: 100% !important;padding: 0%; }
    .container-fluid, .container { max-width: calc(100% - 30px);padding: 0%  }

    .lead-sm {
        font-size: 1rem;
    }
}



@import "./menu";

@import "./footer";