@media (max-width: 992px) { 
    .promo__logo {
        max-height: 11rem;
    }
    .accordion .accordion-button::after {
        width: 2rem;
        height: 2.5rem;
        background-size: 1.75rem;
    }
    .project__img__box {
        height: 231px;
      }
    .video__box {
        .btn { 
            height: 50px;  
            width: 50px; background-size: 50px;
        } 
    }

    .aum_half_logo {
        max-width: 162px;
    }

     
    .page__header { 
        .banner { border-radius: 0 0 2rem 2rem; }
        &::before {
            border-radius: 0 0 2rem 2rem;
        }
    }
}
