@media (max-width:1400px) {
  .header__wrapper .h1 {
    font-size: 7rem;
    max-width: 39rem;
  }
  .header__wrapper .desc {
    width: calc(100% - 40rem);
  }
  .project__img__box {
    width: 100%;
    height: 387px;
  }

  .slider__heading {
    font-size: 1.75rem; 
  }


}

 