@media (max-width: 1200px) {  
     
    .header__wrapper {
        .h1 {
            font-size: 6rem;
            max-width: 39rem;
            margin-left: auto;margin-right: auto;
            left: 0;
        }
        .desc {
            width: 100%;
          }
    }
    .team__card {
        .thumbnail {
            width: 14rem;margin: 0 auto;
        }
        .caption {
            width: 100%;
            padding-left: 0;
            padding-top: 1rem;
            text-align: center;
        }
    }
    .project__img__box { height: 300px; }
      
    .slider__heading {
        justify-content: center;
      }
     
}