@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
:root {
  --mont: "Montserrat", sans-serif;
}

/*-------- Page Header Styles -------------*/
.page__header {
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.65);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.65);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 17rem;
}

.blog__card {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.blog__card .thumbnail img {
  border-radius: 0.35rem;
}
.blog__card .title {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.blog__card .title a {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.blog__card .desc {
  line-height: 1.5;
  color: #6c6c6c;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.blog__card .more__link {
  color: var(--dark);
}
.blog__card .more__link .arrow {
  font-size: 1.5rem;
  line-height: 0.5;
  display: inline-block;
  position: relative;
  top: -2px;
  left: 0.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.blog__card .more__link:hover {
  color: var(--dark);
}
.blog__card .more__link:hover .arrow {
  left: 1rem;
}

.cover {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.content__box {
  max-width: 880px;
  width: 100%;
}
.content__box .h1, .content__box .h2, .content__box .h3, .content__box .h4, .content__box .h5, .content__box .h6 {
  font-weight: 600;
}
.content__box p {
  font-size: 1.067rem;
}

@media (max-width: 992px) {
  .page__header {
    min-height: 12rem;
  }
}
@media (max-width: 576px) {
  .page__header {
    min-height: 9rem;
  }
  .content__box p {
    font-size: 0.937rem;
  }
}